* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --lightGrey: #D9D9D9;
    --grey: #9c9c9c;
    --orange: #f48915;
    --darkGrey: #464D53;
    --xpCard: #656565;
    --appColour: #3c3f45;
}

.App {
    background-image: url();
    mix-blend-mode: overlay;
    background-color: var(--appColour);
    display: flex;
    flex-direction: column;
    gap: 6rem;
    overflow: hidden;

}

::-webkit-scrollbar{
    display: none;
}