.hero-container {
    background: url('../../assets/4krelevantbg.png') center center/cover 
    no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container > div > h1 {
    color:black;
    font-size: 100px;
}

.hero-container > div > h2 {
    /* color: darkred; */
    color: black;
    margin-top: 8px;
    font-size: 32px;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* might need to change font family later */
}

.hero-container > div > h2, h3 {
    margin-left: 0.4rem;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    margin: 6px;
}

.hero {
    margin-left: 100px;
}

.header {
    margin-top: 180px;
}

.stats {
    margin-left: 0.4rem;
    margin-top: 2rem;
}

.stats > div {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1243px){

    .hero-container > div > h1 {
        text-align: center;
        font-size: 70px;
        margin-top: -150px;
    }

    /* .hero {
        margin: auto;
    } */

}

@media screen and (max-width: 768px){

    .hero {
        margin: auto;
    }

    .hero-container > div > h1 {
        text-align: center;
        font-size: 50px;
        margin-top: 100px;
    }

    .hero-container > div > h2 {
        text-align: center;
        font-size: 30px;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}